.snail-mail
  %p.fn.org
    Generations Hair Salon
  .adr
    %p.street-address 10240 forest hill blvd.
    %p.extended-address Suite 170
    %p
      %span.locality> Wellington
      ,
      %span.region Florida
      %span.postal-code 33414
