- content_for :title do
  About
= nav_at 'About'

.about
  %section.hero
    %ul.hero-slider
      %li.hero1
        %h1 Experienced Staff
      %li.hero2
        %h1 High End Products
      %li.hero3
        %h1 Relaxing Atmosphere
  .container
    %ul.tiles
      %li.t-col.w-1-3
        .t-block.h-16x9.green
          .t-content
            %h3 About1
      %li.t-col.w-1-3
        .t-block.h-16x9.yellow
          .t-content
            %h3 About2
      %li.t-col.w-1-3
        .t-block.h-16x9.forest-green
          .t-content
            %h3 About3
      %li.t-col.w-1-3
        .t-block.blue
          .t-content
            %h3 About4
      %li.t-col.w-1-3
        .t-block
          .t-content
            %h3 About5
      %li.t-col.w-1-3
        .t-block.cyan
          .t-content
            %h3 About6