- content_for :title do
  FAQ
= nav_at 'faq'

.faq
  %section.hero
    .questions
      %a{href: '#1'} Link to content 1
      %a{href: '#2'} Link to content 2
      %a{href: '#3'} Link to content 3

  %section
    %h3#1 link to 1
    %p content

    %h3#2 link to 2
    %p content content

    %h3#3 link to 3
    %p content content content

