- content_for :title do
  Services
= nav_at 'Services'

.services
  %section.hero
    .questions
      // offeset by one to comensate for .utility overlay.
      %a{href: '#1'} Hair Cuts
      %a{href: '#2'} Hair Styling
      %a{href: '#3'} Color Services
      %a{href: '#4'} Nail Services
      %a{href: '#5'} Other
  .container
    %h3#1 Hair Cuts
    .service
      %p Bang Trim
      %p Childs Cut
      %p  Childs Cut/blow (up to 12yrs)
      %p Gentlemen's Design Cut & Style
      %p  Womens Haircut
      %p Womens Cut & Style
    .price
      %p $10
      %p $20
      %p $30
      %p $35
      %p $50
      %p $65

    %h3#2 Hair Styling
    .service
      %p cont
      %p cont
      %p
    .price
      %p cont
      %p cont
      %p

    %h3#3 Color Services
    .service
      %p
      %p
      %p
    .price
      %p
      %p
      %p

    %h3#4 Nail Services
    .service
      %p
      %p
      %p
    .price
      %p
      %p
      %p

    %h3#5 Other
    .service
      %p
      %p
      %p
    .price
      %p
      %p
      %p
