/* Gallery
  ----------------------- */

.gallery
  .student
    float: left
    width: 250px
    margin-right: 20px
  .student
    padding-bottom: 10px
    width: 100%
    li
      display: inline-block

  .about
    @extend .white-text
