/* Services
  ----------------------- */

.services
  .hero
    @extend .forest-green
    a
      display: block
  .container
    h3
      margin-top: 10px
      border-bottom: 2px solid $gray
    .service
      width: 50%
      padding-left: 10px
      float: left
    .price
      width: 50%
      padding-left: 10px
      float: right
