/* FAQ
  ----------------------- */

.services
  .hero
    a
      display: block
    @extend .forest-green
  .container
    .service-block
      border: 2px solid $gray
    .service
      padding-left: 10px
      float: left
      width: 50%
    .price        
      padding-left: 10px
      float: right
      width: 50%
